<div class="cocktail-banner" style="background-image: url('https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
  <div class="cocktail-banner text-box">
    <h1>Mister Cocktail</h1>
    <h2>Because there is always a reason to drink a Cocktail</h2>
  </div>
</div>
