<%= render 'banner' %>
<div class="cocktail-page">
  <div class="container">
    <br>
    <ul>
      <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail %></li>
      <% end %>
    </ul>
    <br>
  </div>
</div>
