<div class="cocktail-page">
  <div class="container">
    <h1>Add a new Cocktail</h1>
    <p>Add a name for your cocktail and upload a picture, afterwards you can start adding ingredients</p>
    <%= render 'form' %>
  </div>
</div>
