<div class="footer-bar">
  <div class="container">
    <div class="footer-links">
      <a href="https://github.com/shoeferlin" target="_blank"><i class="fab fa-github"></i></a>
      <a href=""><i class="fab fa-facebook" target="_blank"></i></a>
      <a href="https://www.linkedin.com/in/simonhoeferlin" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.linkedin.com/in/simonhoeferlin" target="_blank">Do you like what you see? Hire me!</a>
    </div>
  </div>
</div>
